ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

li {
  min-width: 25%;
}

.busquedaBoton {
  background-color: orangered;
  border: none;
  padding: 17px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(255, 30, 0, 0.2);
  font-size: 20px;
  font-weight: lighter;
  transition: 0.2s ease-out;
}

.busquedaBoton:hover {
  background-color: rgb(255, 110, 57);
  transform: scale(1.1);
}
